<script setup lang="ts">
import { computed } from 'vue'

const props = defineProps({
  theme: {
    item: String,
    default: 'default',
    validator: (prop: string) => ['success', 'danger', 'default'].includes(prop)
  }
})

const buttonClass = computed((): Object => {
  const state: string =
    ['success', 'danger', 'default'].find((item) => item === props.theme) ?? 'default'

  return {
    [`--${state}`]: true
  }
})
</script>

<template>
  <div class="base-button" :class="buttonClass">
    <slot />
  </div>
</template>

<style lang="scss" scoped>
@use 'sass:map';
.base-button {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.7rem;
  padding: 0.5rem 1rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 0.25s ease;

  $theme: (
    'default': (
      'default': (
        'background': var(--color-gray-200),
        'color': var(--color-gray-300)
      ),
      'hover': (
        'background': var(--color-gray-300),
        'color': var(--color-white)
      )
    ),
    'success': (
      'default': (
        'background': var(--color-success),
        'border': var(--color-success),
        'color': var(--color-white)
      ),
      'hover': (
        'background': var(--color-white),
        'border': var(--color-success),
        'color': var(--color-success)
      )
    ),
    'danger': (
      'default': (
        'border': var(--color-danger),
        'color': var(--color-danger)
      ),
      'hover': (
        'color': var(--color-white),
        'background': var(--color-danger)
      )
    )
  );

  @each $key, $value in $theme {
    &.--#{$key} {
      background: map.get($value, 'default', 'background');
      border-color: map.get($value, 'default', 'border');
      color: map.get($value, 'default', 'color');
      &:hover {
        border-color: map.get($value, 'hover', 'border');
        background: map.get($value, 'hover', 'background');
        color: map.get($value, 'hover', 'color');
      }
    }
  }
}
</style>
