<script setup lang="ts">
import type { Word } from '@/types'

import { v4 as uuidv4 } from 'uuid'

import BaseButton from '@/components/BaseButton.vue'

import { ref } from 'vue'

const emit = defineEmits(['onAdd'])

let name = ref('')

const onAdd = (): Word => {
  emit('onAdd', { name: name.value, uuid: uuidv4() })

  name.value = ''
}
</script>

<template>
  <div class="add">
    <input v-model="name" class="add_input" />
    <div class="add_action">
      <BaseButton @click="onAdd">add</BaseButton>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.add {
  position: sticky;
  top: 0;
  background: var(--color-white);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 30px;
  width: 50vw;
  margin: auto;

  &_input {
    flex-grow: 1;
    border-radius: 12px;
    background: var(--color-gray-100);
    border: 2px solid var(--color-gray-200);
    color: var(--color-black);
    outline: none;
    padding: 5px 10px;
  }
}
</style>
