<script setup lang="ts">
import type { Word } from '@/types'

import { ref } from 'vue'

import BaseButton from '@/components/BaseButton.vue'

const props = defineProps<{
  item: Word
}>()

let value: string | number = ref('')

const emit = defineEmits(['onDelete', 'onAction'])

const onValue = (event) => {
  value.value = event.target.value
}

const onDelete = () => {
  emit('onDelete', props.item.uuid)
}

const onUpdate = () => {
  emit('onUpdate', value.value)
}
</script>

<template>
  <div class="word">
    <input :value="item.name" @input="onValue" class="word_input" />
    <div class="word_action">
      <BaseButton theme="success" @click="onUpdate">Update</BaseButton>
      <BaseButton theme="danger" @click="onDelete">Delete</BaseButton>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.word {
  display: flex;
  justify-content: space-between;
  background: var(--color-gray-100);
  padding: 10px;
  gap: 30px;
  border-radius: 10px;
  width: 50vw;
  margin: auto;

  &_input {
    flex-grow: 1;
    background: transparent;
    border: 1px solid transparent;
    color: var(--color-gray-300);
    outline: none;
    padding: 5px 10px;

    &:focus {
      border-bottom: 1px solid var(--color-gray-200);
    }
  }

  &_action {
    gap: 15px;
    display: flex;
  }
}
</style>
