<script setup lang="ts">
import type { Word, WordList } from '@/types'

import { API } from '@/constants'

import Storage from '@/class/storage'
import APIClient from '@/class/client'

import { RecycleScroller } from 'vue-virtual-scroller'
import 'vue-virtual-scroller/dist/vue-virtual-scroller.css'

const ListItem = defineAsyncComponent(() => import('@/components/WordsListItem.vue'))
const ListAdd = defineAsyncComponent(() => import('@/components/WordsListAdd.vue'))

import { onMounted, ref, computed, defineAsyncComponent } from 'vue'

let list: Array<Word> = ref([])

const dataList = computed((): Array<WordList> => {
  return list.value.map((item: Word) => item)
})

const getData = async (): Promise<void> => {
  const response = await new APIClient({
    url: API.WORDS_10000
  }).getResponse()

  list.value = response
}

const onDelete = (index: number): void => {
  list.value.splice(index, 1)
}

const onUpdate = (value: string | number, index: number): void => {
  list.value[index]['name'] = value
}

const onAdd = (item: Word): void => {
  list.value.unshift(item)
}

const setStorage = () => {
  window.onbeforeunload = () => {
    new Storage({ name: API.WORDS_10000 }).setStorage = { data: list.value }
  }
}

const onDrag = (event: DragEvent, item: Word) => {
  event.dataTransfer!.dropEffect = 'move'
  event.dataTransfer!.effectAllowed = 'move'
  event.dataTransfer!.setData('uuid', item.uuid)
}

const onDrop = (event: DragEvent, index: number) => {
  const source = list.value.find((item) => item.uuid === event.dataTransfer!.getData('uuid'))
  list.value.splice(list.value.indexOf(source), 1)
  list.value.splice(index, 0, source)
}

onMounted(() => {
  getData()
  setStorage()
})
</script>

<template>
  <div v-if="list.length" class="words-list">
    <ListAdd @onAdd="onAdd" />
    <RecycleScroller
      class="virtual-scroll"
      :items="dataList"
      :item-size="70"
      :item-count="10000"
      :buffer="100"
      key-field="uuid"
    >
      <template #default="props">
        <ListItem
          :item="props.item"
          :key="props.index"
          draggable="true"
          @dragover.prevent
          @dragenter.prevent
          @onDelete="onDelete(props.index)"
          @onUpdate="onUpdate($event, props.index)"
          @dragstart="onDrag($event, props.item)"
          @drop="onDrop($event, props.index)"
        />
      </template>
    </RecycleScroller>
  </div>
</template>

<style lang="scss" scoped>
.vue-recycle-scroller {
  flex-grow: 1;
}

.words-list {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100vh;
}
</style>
