:root {
  --color-primary-300: #0c614b;
  --color-primary-200: #0c9;
  --color-primary-100: #eefbf8;
  --color-gray-100: #f5f6fa;
  --color-gray-200: #a3acc2;
  --color-gray-300: #2f3541;
  --color-success: #28af61;
  --color-danger: #eb5757;
  --color-white: #fff;
  --color-black: #000;
}
