<script setup lang="ts">
import { RouterView } from 'vue-router'
</script>

<template>
  <RouterView />
</template>

<style scoped langs="scss">
body {
  margin: 0;
  padding: 0;
}
#app {
  height: 100vh;
}
</style>
